<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<body>

    <main>
        <div class="hero">
            <h2>Support Us</h2>
            <p class="subtitle">Help us keep knowledge free and accessible to everyone. Your donation makes a difference!</p>
        </div>

        <div class="container">
           <h3>Wave Acount:</h3>
           <img src="static/images/wave.png" alt="wave logo" width="50">
           <p>+220 2506796</p>
        </div>
    </main>

    {% include "footer.html" %}
</body>
</html>
