<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}


<body>
    <main>

        <div class="hero">
        <h2>Discover and Download Free Knowledge</h2>
        <p class="subtitle">Your ultimate source for free PDF books. Simple, fast, and completely free!</p>
        <img class="hero_img" src="static/images/hero.webp" alt="the hero book titles">
         </div>
        
        <div class="container">
        
            <div class="item">
                <h3 class="book_title">Title: Time Wise</h3>
                <p class="author">Author: John C. Maxwell</p>
                <img class="book_img" src="static/images/time.webp" alt="Book images">
                <p class="des">
                    Time Wise is a practical guide to mastering time management. <br> In this book, John C. Maxwell offers invaluable insights into how to prioritize,
                    <br> make better decisions, and live a more intentional and productive life. <br> With his simple yet powerful strategies, readers will learn how to take control of their time,
                    <br>
                    eliminate distractions, and make each moment count.
                </p>
                <div class="star">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </div>
                <div class="tag_link">
                <a class="link" href="static/books/Time Wise.pdf" download>
                    Click on Download</a>
                </div>
            </div>

            <div class="item">
                <h3 class="book_title">Title: Never Split The Difference</h3>
                <p class="author">Author: Chris Voss</p>
                <img class="book_img"  src="static/images/never.webp" alt="Book images">
                <p class="des">
                   Never Split the Difference by Chris Voss teaches negotiation techniques <br>
                    based on his experience as an FBI hostage negotiator. <br>
                    The book emphasizes that traditional methods, like compromise, <br>
                    often lead to poor results. Instead, Voss introduces strategies like mirroring, <br>
                    tactical empathy, and asking calibrated questions to build trust, <br>
                    understand others, and achieve better outcomes in both professional and personal negotiations. <br>
                    The focus is on getting what you want without compromising your goals.
                </p>
                <div class="star">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
                <div class="tag_link">
                <a class="link" href="static/books/never spkit the difference.pdf" download>
                    Click on Download</a>
                </div>
            </div>

            <div class="item">
                <h3 class="book_title">Title: Think And Grow Rich</h3>
                <p class="author">Author: Napoleon Hill</p>
                <img class="book_img"  src="static/images/think.webp" alt="Book images">
                <p class="des">
                    Think and Grow Rich by Napoleon Hill teaches that success comes from cultivating a positive mindset,
                    <br> setting clear goals, and taking persistent action. The book focuses on 13 principles, <br>
                    including desire, faith, and autosuggestion, which Hill believes are essential for achieving <br>
                    wealth and personal growth. Through real-life examples, <br>
                    Hill demonstrates how these principles can lead to prosperity, <br>
                    emphasizing the power of thought and the importance of persistence in <br>
                    achieving one's dreams.
                </p>
                <div class="star">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                </div>
                <div class="tag_link">
                <a class="link" href="static/books/Think-And-Grow-Rich_2011-06.pdf" download>
                    Click on Download</a>
                </div>
            </div>

            <div class="item">
                <h3 class="book_title">Title: The Hard Thing About Hard Things </h3>
                <p class="author">Author: Ben Horowitz</p>
                <img class="book_img"  src="static/images/hard.webp" alt="The Hard Thing About Hard Things">
                <p class="des">
                    The Hard Thing About Hard Things by Ben Horowitz offers straightforward advice for entrepreneurs
                    <br> on overcoming the tough challenges of building and running a business. <br>
                    Drawing from his own experiences, Horowitz provides practical strategies <br>
                    for dealing with crises, making tough decisions, and leading through adversity. <br>
                    The book emphasizes that success comes from facing <br>
                    and navigating difficulties rather than avoiding them.
                </p>
                <div class="star">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
                <div class="tag_link">
                <a class="link" href="static/books/the-hard-thing-about-hard-things.pdf" download>
                    Click on Download</a>
                </div>
            </div>
        </div>


        <div class="moti">
            <h2>Unlock Your Potential with Every Page</h2>
            <p>Every great journey begins with a single book. At GamPDF, we believe knowledge should be free and accessible to all.
                <br> Dive into a world of endless learning, inspiration, and growth. <br>
                Download your first book today and take a step towards a brighter future!</p>
        </div>
        
        <img class="cat_reading"  src="https://media.giphy.com/media/NFA61GS9qKZ68/giphy.gif?cid=790b76119n8xw9oaly7kx08jl5fp7m5f314cp9l7nfhaa415&ep=v1_gifs_search&rid=giphy.gif&ct=g" alt="The Cat is Reading the BookPDF">
    </main>
 {% include "footer.html" %}
</body>

</html>
